<div class="mt-3">
    <p-card id="tribute-page">
        <a routerLink="/frontend/projects/tributepage" routerLinkActive="active">
        Tribute Page
        <img class="project-image" src="../../../../assets/Images/frontend-images/tribute-page.jpg" />
        </a>
    </p-card>
    <p-card id="survey-form">
        <a routerLink="/frontend/projects/surveyform" routerLinkActive="active">
        Survey Form
        <img class="project-image" src="../../../../assets/Images/frontend-images/survey-form.png" />
        </a>
    </p-card>
    <p-card id="landing-page">
        <a routerLink="/frontend/projects/landingpage" routerLinkActive="active">
        Product Landing Page
        <img class="project-image" src="../../../../assets/Images/frontend-images/product-landing-page.png" />
        </a>
    </p-card>
    <p-card id="technical-documentation">
        <a routerLink="/frontend/projects/technicaldocumentation" routerLinkActive="active">
        Technical Documentation
        <img class="project-image" src="../../../../assets/Images/frontend-images/technical-documentation.png" />
        </a>
    </p-card>
    <!-- <p-card id="markdown-previewer">
        <a routerLink="/frontend/projects/markdownpreviewer" routerLinkActive="active">
        Markdown Previewer
        <img class="project-image" src="../../../../assets/Images/frontend-images/" />
        </a>
    </p-card> -->
    <p-card id="vincenzos-place">
        <a routerLink="/frontend/projects/vincenzosplace" routerLinkActive="active">
        Vincenzo's Place
        <img class="project-image" src="../../../../assets/Images/frontend-images/VP_back_shirt.png" />
        </a>
    </p-card>
    <p-card id="drum-machine">
        <a routerLink="/frontend/projects/drummachine" routerLinkActive="active">
        Drum Machine
        <img class="project-image" src="../../../../assets/Images/frontend-images/" />
        </a>
    </p-card>
</div>