<iframe srcdoc="<!DOCTYPE html>
    <html lang=&quot;en&quot;>
    
    <head>
        <meta charset=&quot;UTF-8&quot;>
        <meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1.0&quot;>
        <meta http-equiv=&quot;X-UA-Compatible&quot; content=&quot;ie=edge&quot;>
        <title>Tribute Page | Free Code Camp</title>
        <link rel=&quot;stylesheet&quot; href=&quot;https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css&quot; integrity=&quot;sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm&quot;
            crossorigin=&quot;anonymous&quot;>
        <link type=&quot;text/css&quot; rel=&quot;stylesheet&quot; href=&quot;main.css&quot;>
    </head>
    
    <body>
        <div class=&quot;container body-bkgrd mt-5 mb-5 pb-3&quot; id=&quot;main&quot;>
            <h1 class=&quot;center&quot; id=&quot;title&quot;>Dr. Norman Borlaug</h1>
            <h6 class=&quot;center&quot;>The man who saved a billion lives.</h6>
            <div class=&quot;image-container p-3 mb-5&quot; id=&quot;img-div&quot;>
                <img src=&quot;https://dl.dropbox.com/s/9dgi41wme9d3zem/normanborlaug.jpg?dl=0&quot; alt=&quot;picture of men in a wheat field&quot; class=&quot;container-fluid mb-3&quot; id=&quot;image&quot;>
                <p class=&quot;center&quot; id=&quot;img-caption&quot;>Dr. Norman Borlaug, second from left, trains biologists in Mexico on how to increase wheat yields - part of his
                    life-long war on hunger.
                </p>
            </div>
            <p class=&quot;center mb-3&quot;>
                <strong>Here's a time line of Dr. Borlaug's life:</strong>
            </p>
            <ul class=&quot;mb-3&quot; id=&quot;tribute-info&quot;>
                <div class=&quot;my-margin-class&quot;>
                    <li class=&quot;&quot;>
                        <strong>1914</strong> - Born in Cresco, Iowa</li>
                    <li class=&quot;&quot;>
                        <strong>1933</strong> - Leaves his family's farm to attend the University of Minnesota, thanks to a Depression
                        era program known as the &quot;National Youth Administration&quot;</li>
                    <li class=&quot;&quot;>
                        <strong>1935</strong> - Has to stop school and save up more money. Works in the Civilian Conservation Corps,
                        helping starving Americans. &quot;I saw how food changed them&quot;, he said. &quot;All of this left scars on me.&quot;</li>
                    <li class=&quot;&quot;>
                        <strong>1937</strong> - Finishes university and takes a job in the US Forestry Service</li>
                    <li class=&quot;&quot;>
                        <strong>1938</strong> - Marries wife of 69 years Margret Gibson. Gets laid off due to budget cuts. Inspired by
                        Elvin Charles Stakman, he returns to school study under Stakman, who teaches him about breeding pest-resistent
                        plants.</li>
                    <li class=&quot;&quot;>
                        <strong>1941</strong> - Tries to enroll in the military after the Pearl Harbor attack, but is rejected. Instead,
                        the military asked his lab to work on waterproof glue, DDT to control malaria, disenfectants, and other
                        applied science.</li>
                    <li class=&quot;&quot;>
                        <strong>1942</strong> - Receives a Ph.D. in Genetics and Plant Pathology</li>
                    <li class=&quot;&quot;>
                        <strong>1944</strong> - Rejects a 100% salary increase from Dupont, leaves behind his pregnant wife, and flies
                        to Mexico to head a new plant pathology program. Over the next 16 years, his team breeds 6,000 different
                        strains of disease resistent wheat - including different varieties for each major climate on Earth.</li>
                    <li class=&quot;&quot;>
                        <strong>1945</strong> - Discovers a way to grown wheat twice each season, doubling wheat yields</li>
                    <li class=&quot;&quot;>
                        <strong>1953</strong> - crosses a short, sturdy dwarf breed of wheat with a high-yeidling American breed, creating
                        a strain that responds well to fertalizer. It goes on to provide 95% of Mexico's wheat.</li>
                    <li class=&quot;&quot;>
                        <strong>1962</strong> - Visits Delhi and brings his high-yielding strains of wheat to the Indian subcontinent
                        in time to help mitigate mass starvation due to a rapidly expanding population</li>
                    <li class=&quot;&quot;>
                        <strong>1970</strong> - receives the Nobel Peace Prize</li>
                    <li class=&quot;&quot;>
                        <strong>1983</strong> - helps seven African countries dramatically increase their maize and sorghum yields</li>
                    <li class=&quot;&quot;>
                        <strong>1984</strong> - becomes a distinguished professor at Texas A&M University</li>
                    <li class=&quot;&quot;>
                        <strong>2005</strong> - states &quot;we will have to double the world food supply by 2050.&quot; Argues that genetically
                        modified crops are the only way we can meet the demand, as we run out of arable land. Says that GM crops
                        are not inherently dangerous because &quot;we've been genetically modifying plants and animals for a long
                        time. Long before we called it science, people were selecting the best breeds.&quot;</li>
                    <li class=&quot;&quot;>
                        <strong>2009</strong> - dies at the age of 95.</li>
                </div>
            </ul>
            <p class=&quot;center&quot;><em>&quot;Borlaug's life and achievement are testimony to the far-reaching contribution that one man's towering intellect, persistence and scientific vision can make to human peace and progress.&quot;</em></p>
            <p class=&quot;center m-2&quot;><em>-- Indian Prime Minister Manmohan Singh</em></p>
            <h4 class=&quot;center&quot;>If you have time, you should read more about this incredible human being on his <a id=&quot;tribute-link&quot; href=&quot;htth4s://en.wikipedia.org/wiki/Norman_Borlaug&quot; target=&quot;_blank&quot;>Wikipedia entry</a>.</h4>
        </div>
    
        <script src=&quot;main.js&quot;></script>
        <script src=&quot;https://code.jquery.com/jquery-3.2.1.slim.min.js&quot; integrity=&quot;sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN&quot;
            crossorigin=&quot;anonymous&quot;></script>
        <script src=&quot;https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js&quot; integrity=&quot;sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q&quot;
            crossorigin=&quot;anonymous&quot;></script>
        <script src=&quot;https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js&quot; integrity=&quot;sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl&quot;
            crossorigin=&quot;anonymous&quot;></script>
        <script src=&quot;https://gitcdn.link/repo/freeCodeCamp/testable-projects-fcc/master/build/bundle.js&quot;></script>
        <noscript>You must enable javascript to use this application.</noscript>
    </body>
    
    </html>" sandbox height="800" width="800">You need an iFrame Capable browser to view this content.</iframe> 