<p-sidebar [(visible)]="display" styleClass="scroll-y">
    <div class="space"></div>
    <p-card header="Profile" styleClass="box-shadow">
        <div class="flex-row"><h4>Name:</h4><p class="light-text">Mark Kraus</p></div>
        <div class="flex-row"><h4>Location:</h4><p class="light-text">Pennsylvania</p></div>
        <div class="flex-row"><h4>Email:</h4><p class="light-text">[<a href="mailto:vindevccm@gmail.com">vindevccm@gmail.com</a>]</p></div>
    </p-card>
    <div class="space"></div>
    <p-card header="Professional Statement" styleClass="box-shadow">
        <p class="light-text">Detail oriented and highly adaptable professional with experience in the commercial and federal sectors developing, testing, and deploying software. Ability to leverage full stack expertise to build responsive and user-centered applications to deliver high quality impact.</p>
    </p-card>
    <div class="space"></div>
    <p-card header="Skills" styleClass="box-shadow">
        <h5>AWS:</h5>
        <p class="light-text skills-text">
          CDK, CloudFormation, SAM, API Gateway, CloudFront, CloudWatch, Connect, CodeCommit, CodeBuild, CodeDeploy, CodePipeline, Cognito, DynamoDB, IAM, Kinesis, Lambda, QuickSight, S3
        </p>
        <h5>Preferred languages:</h5>
        <p class="light-text skills-text">
          Typescript/JavaScript, Python
        </p>
        <h5>Client</h5>
        <p class="light-text skills-text">
          Angular, React, D3
        </p>
        <h5>Server</h5>
        <p class="light-text skills-text">
          Node, Express
        </p>
        <h5>Database</h5>
        <p class="light-text skills-text">
            MongoDB, DynamoDB, SQL
        </p>
        <h5>Version Control</h5>
        <p class="light-text skills-text">
            Git
        </p>
        <h5>Tools</h5>
        <p class="light-text skills-text">
            Webpack, Babel, Swagger, SAM CLI, Docker, Shell Scripting
        </p>
        <h5>Testing</h5>
        <p class="light-text skills-text">Mocha, Chai, Sinon, Istanbul, Jasmine</p>
        <h5>Delivery Methodologies</h5>
        <p class="light-text skills-text">Agile, Waterfall</p>
        <h5>Software</h5>
        <p class="light-text skills-text">Visual Studio/Code, MS Office, Github, Gitlab, Bitbucket, Mongo Compass, Jira, Agile Manager</p>
        <h5>Operating Systems</h5>
        <p class="light-text skills-text">Windows, Mac OS, Linux</p>
    </p-card>
    <br>
    <p-card header="Follow Me" [style]="{'text-align': 'center'}" styleClass="box-shadow">
        <a href="https://linkedin.com/in/mark-w-kraus/" tooltipPosition="right" pTooltip="Linked In"><i class="black fab fa-linkedin fa-3x margin-side-1"></i></a>
        <a href="https://github.com/vinarius" tooltipPosition="right" pTooltip="Github"><i class="black fab fa-github fa-3x margin-side-1"></i></a>
        <a href="https://twitch.tv/vin_dev" tooltipPosition="right" pTooltip="Twitch"><i class="black fab fa-twitch fa-3x margin-side-1"></i></a>
        <a href="assets/Files/Mark-Kraus-Resume.pdf" download="Mark-Kraus-Resume" tooltipPosition="right" pTooltip="Download Résumé"><i class="black fas fa-file fa-3x"></i></a>
    </p-card>
</p-sidebar>

<div (click)="display = true" label="Mark Kraus" class="navlink">Mark Kraus</div>
