.custom-border-bottom {}

.custom-hero-section {}

.project-drum-machine {
  background: url('/drum-machine.PNG');
  background-size: cover;
}

.project-dwellics {
  background: url('/dwellics.PNG');
  background-size: cover;
}

.project:hover {
  opacity: 75%;
}

@media screen and (max-width: 639px) {
  .custom-hero-section {
    background: url('/building-hero-img-sm.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 640px) {
  .custom-hero-section {
    background: url('/building-hero-img-md.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 1024px) {
  .custom-hero-section {
    background: url('/building-hero-img-lg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
}